*{
    box-sizing: border-box;
}
.main-header{
    background-color: #FFF;
    height: 70px;
}
.back-color{
    background-color: #eff2f5;
}

#nav-list-first{
    margin-top: 10px;
    height: 40px;
    padding: 8px;
    border-radius: 4px;
}
#nav-list-first:hover{
    background-color: #d9177f;
    color: #FFFFFF;
}
#nav-list-second{
    background-color: #d9177f;
    margin-top: 10px;
    height: 40px;
    padding: 8px;
    border-radius: 4px;
    color: #FFFFFF;
}
#nav-list-third{
    background-color: #FFFFFF;
    border: #FFFFFF;
    margin-top: 10px;
    height: 40px;
    padding: 8px;
    border-radius: 4px;
}
#nav-list-third:hover{
    background-color: #d9177f;
    color: #FFFFFF;
}
#nav-list-fourth{
    margin-top: 10px;
    height: 40px;
    padding: 8px;
    border-radius: 4px;
}
#nav-list-fourth:hover{
    background-color: #d9177f;
    color: #FFFFFF;
}
#nav-list-fifth{
    margin-top: 10px;
    height: 40px;
    padding: 10px;
}
#nav-list-fifth:hover{
    background-color: lightgray;
}
.nav-list-pad{
    padding-left: 0px;
}
.user-image {
    border-radius: 20%;
    height: 45px;
    width: 45px;
    margin: 10px 10px;
}
#manage-button{
    background-color: #f4f4f4;
    border: #f4f4f4;
    padding-right: 100px;
    color: #49779f;
}
#manage-button:hover{
    color: blue;
}

.panel{
    border: 0px;
}
.panel-primary> .panel-heading{
    background-color: #304284;
    color: #FFFFFF;
}
.btn-default{
    background-color: #574c74;
    color: #FFFFFF
}
.user-image2 {
    border-radius: 20%;
    height: 25px;
    width: 25px;
    margin: 0;
}


.main {
    width: 200px;
}
.has-search .form-control-feedback {
    right: initial;
    left: 20px;
    color: #ccc;

}
.has-search .form-control {
    padding-right: 12px;
    padding-left: 34px

}

.modal-backdrop{
    z-index: 100;
}
.user-image3 {
    height: 70px;
    width: 70px;
    margin: 0;
}
/*.model-backdrop.in{
    opacity: 0.5;
}*/
@media (min-width: 768px) {
    .modal-dialog{
        position: fixed;
        right: 0;
        top: 42px;
    }
}

#dashboard {
    background-color: #d9177f;
    font-size: 15px;
    border: #d9177f;
    border-radius: 5px;
    color: white;
    padding: 7px;
    margin-top: 10px;
}
