<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>REAP</title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="../img/ttn.ico" rel="icon" sizes="20x20" type="image/gif"/>
    <link rel="stylesheet" th:href="@{css/dashStyle.css}"/>
</head>
<body class="wrap">

<nav class="navbar navbar-default navbar-fixed-top navbar-expand-md main-header">
    <div class="container-fluid">
        <div class="navbar-header col-md-5">
            <a class="navbar-brand col-md-3" href="/">
                <img alt="logo" src="/img/reap.png" style="width: 125px"/>
            </a>
            <img alt="reap" class="col-md-9" src="/img/RewardEAP.png"
                 style="margin-top: 10px;margin-left: 10px; height: 40px"/>
        </div>
        <ul class="nav navbar-nav col-md-7">
            <li class="col-md-3">
                <a href="http://newersworld.tothenew.com" id="nav-list-first">
                    Back to Newers World
                </a>
            </li>
            <li class="col-md-2 nav-list-pad">
                <a id="nav-list-second">
                    <img alt="dashboard" id="dashboard-image" src="/img/dashboard2.png"/>
                    Dashboard
                </a>
            </li>
            <li class="col-md-2 nav-list-pad">
                <form method="post" th:action="@{/badges}" th:object="${user}">
                    <button id="nav-list-third" type="submit">
                        <img alt="badges" id="badges" src="/img/badges1.png"/>
                        Badges
                    </button>
                </form>
            </li>
            <li class="col-md-2 nav-list-pad">
                <a href="" id="nav-list-fourth">
                    <img alt="certificate" id="certificate" src="/img/certificate1.png"
                         style="width: 21px;height: 23px;margin-left: -2%"/>
                    Certificate
                </a>
            </li>
            <li class="col-md-1 nav-list-pad">
                <img alt="notification-bell" id="nav-list-fifth" src="/img/notification-bell.png"/>
            </li>
            <li class="col-md-2 nav-list-pad">
                <img alt='User Image' class='user-image' data-target="#myModal" data-toggle="modal"
                     th:src="@{${user.getFileName()}}"/>
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content" th:object="${user}">
                            <div class="modal-header">
                                <h4 class="modal-title">Your Profile</h4>
                            </div>
                            <div class="modal-body" style="height: 100px">
                                <div class="col-md-3">
                                    <img alt='User Image' class='user-image' th:src="@{${user.getFileName()}}"/>
                                </div>
                                <div class="col-md-3">
                                    <label>Newer Name</label>
                                    <label>Email id</label>
                                </div>
                                <div class="col-md-6">
                                    <label th:text="*{name}"></label>
                                    <br/>
                                    <label th:text="*{email}"></label>
                                </div>
                            </div>
                            <div class="modal-footer" style="background-color: #f4f4f4">
                                <form class="col-md-6" id="manageForm" method="post" th:action="@{/manage}"
                                      th:object="${user}">
                                    <button id="manage-button" type="submit">
                                        Manage
                                    </button>
                                </form>
                                <a class="col-md-6" href="login" style="text-align: center;text-decoration: none">
                                    <img alt="logout" src="/img/logout.png"/>
                                    Logout
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid nopadding wrap">
    <div class="row nopadding lower">
        <div class="col-sm-4">
            <section class="row fit panel">
                <!-- BADGE AND POINTS HEADER-->
                <div class="lefthead "><img class="newer headimg" src="../img/badgewhite.png"/>BADGES AND POINTS</div>
                <div class="mybadges" style="overflow: hidden">
                    <div class="col-sm-8 nopadding" style="float:left;" th:object="${user}">
                        <!--BADGE PROFILE PIC-->
                        <div class="profile mybadgesimg"><img class="profileimg" th:src="@{${user.getFileName()}}"/>
                        </div>
                        <!--BADGE USERNAME-->
                        <div class="mybadgesUsername" th:text="*{name}"></div>
                        <div>
                            <!--GOLD BADGE-->
                            <span class="star">
                            <img src="../img/badgeOrange.png"/>
                            <span class="points" th:text="${gold}">0</span>
                            </span>
                            <!--SILVER BADGE-->
                            <span class="star mybadgestar">
                            <img src="../img/badgeGrey.png"/>
                            <span class="points" th:text="${silver}">0</span>
                            </span>
                            <!--BRONZE BADGE-->
                            <span class="star mybadgestar">
                            <img src="../img/badgeBrown.png"/>
                            <span class="points" th:text="${bronze}">0</span>
                            </span>
                        </div>
                    </div>
                    <!--POINTS-->
                    <div class="col-sm-4 nopadding point_img"><img src="../img/points.png"/></div>
                    <div class="bottom-left zero" th:text="${user.availPoints}">0</div>
                    <div class="bottom-left pts">pts</div>
                </div>
            </section>
            <form method="post" th:action="@{/redeem}" th:object="${user}">
                <div class="view">
                    <button class="redeem">Redeem Points</button>
                </div>
            </form>
        </div>
        <div class="col-sm-8">
            <ul class="nav nav-tabs topnav" role="tablist">
                <li class="active"><a href="#all" role="tab" data-toggle="tab">ALL<span>(0)</span></a></li>
                <li><a href="#shared" role="tab" data-toggle="tab">BADGES SHARED<span>(0)</span></a></li>
                <li><a href="#recieved" role="tab" data-toggle="tab">BADGES RECIEVED<span>(0)</span></a></li>
                <li><a href="#redeemed" role="tab" data-toggle="tab">POINTS REDEEMED</a></li>
            </ul>

            <div class="nodata tab-content">
                <div class="tab-pane" id="shared">

                    <div class="panel-body" th:each="tranlist:${badgetransactionlistsender}">
                        <div class="col-md-2">
                            <img alt='User Image' class='user-image' th:src="@{${tranlist.getReciever().getFileName()}}"/>
                        </div>
                        <div class="col-md-9">
                            <span th:text="${tranlist.getReciever().getName()}"></span>
                            has recieved
                            <span th:with="var=${tranlist.getBadge()}">
                            <span th:if="${var == T(com.ttn.reap.enums.Badge).GOLD}"><img src="/img/badgeOrange.png"/></span>
                            <span th:if="${var == T(com.ttn.reap.enums.Badge).SILVER}"><img src="/img/badgeGrey.png"/></span>
                            <span th:if="${var == T(com.ttn.reap.enums.Badge).BRONZE}"><img src="/img/badgeBrown.png"/></span>
                            </span>
                            from
                            <span th:text="${tranlist.getSender().getName()}"></span> for Reason:
                            <span th:text="${tranlist.getReason()}"></span>
                        </div>
                    </div>
                </div>


                <div class="tab-pane" id="recieved">

                    <div class="panel-body" th:each="tranlist:${badgetransactionlistreciever}">
                        <div class="col-md-2">
                            <img alt='User Image' class='user-image' th:src="@{${tranlist.getReciever().getFileName()}}"/>
                        </div>
                        <div class="col-md-9">
                            <span th:text="${tranlist.getReciever().getName()}"></span>
                            has recieved
                            <span th:with="var=${tranlist.getBadge()}">
                            <span th:if="${var == T(com.ttn.reap.enums.Badge).GOLD}"><img src="/img/badgeOrange.png"/></span>
                            <span th:if="${var == T(com.ttn.reap.enums.Badge).SILVER}"><img src="/img/badgeGrey.png"/></span>
                            <span th:if="${var == T(com.ttn.reap.enums.Badge).BRONZE}"><img src="/img/badgeBrown.png"/></span>
                            </span>
                            from
                            <span th:text="${tranlist.getSender().getName()}"></span> for Reason:
                            <span th:text="${tranlist.getReason()}"></span>
                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="redeemed">redeemed tab</div>
                <div class="tab-pane active" id="all">
                    <div class="panel-body" th:each="tranlist:${badgetransactionlistsenderorreciever}">
                        <div class="col-md-2">
                            <img alt='User Image' class='user-image' th:src="@{${tranlist.getReciever().getFileName()}}"/>
                        </div>
                        <div class="col-md-9">
                            <span th:text="${tranlist.getReciever().getName()}"></span>
                            has recieved
                            <span th:with="var=${tranlist.getBadge()}">
                            <span th:if="${var == T(com.ttn.reap.enums.Badge).GOLD}"><img src="/img/badgeOrange.png"/></span>
                            <span th:if="${var == T(com.ttn.reap.enums.Badge).SILVER}"><img src="/img/badgeGrey.png"/></span>
                            <span th:if="${var == T(com.ttn.reap.enums.Badge).BRONZE}"><img src="/img/badgeBrown.png"/></span>
                            </span>
                            from
                            <span th:text="${tranlist.getSender().getName()}"></span> for Reason:
                            <span th:text="${tranlist.getReason()}"></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="/js/badges.js"></script>
</body>
</html>