
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<!--    <link rel="stylesheet" type="text/js" href="login.js">-->
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <link rel="icon" href="../img/ttn.ico" type="image/gif" sizes="20x20"/>

</head>
<body id="base">
<div id="background">
    <div id="container-fluid">
        <div class="top">
                <ul id="nav" class="nav nav-tabs">
                        <li class="active"><a href="login">Login</a></li>
                        <li><a href="signup">Sign Up</a></li>
                </ul>
        </div>
   </div>
    <div id="bottom">
        <form th:action="@{/user}" method="post"  th:object="${user}">
                    <label th:text="${valid}" class="error"></label>
                    <div class="form-element">
                        <label>Username:<sup>*</sup></label>
                        <input type="text" name="title" required="required" placeholder="Enter your Email" th:field="*{email}"/>
                    </div>
                    <div class="form-element">
                        <label>Password:<sup>*</sup></label>
                        <input type="password" name="Password" required="required" placeholder="Enter your password" th:field="*{password}"/>
                    </div>
                <hr style="color:grey;"/>
                <a href="#" class="btn btn-link">Forgot Password</a>
                <div class="sub"><button type="submit" name="submit" class="btn btn-primary">Login</button></div>
        </form>
    </div>
</div>
</body>
</html>