<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>manageUser</title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="/img/ttn.ico" rel="icon" sizes="20x20" type="image/gif"/>
    <link rel="stylesheet" th:href="@{css/dashStyle.css}"/>

</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top navbar-expand-md main-header">
    <div class="container-fluid">
        <div class="navbar-header col-md-5">
            <a class="navbar-brand col-md-3" href="/">
                <img alt="logo" src="/img/reap.png" style="width: 125px"/>
            </a>
            <img alt="reap" class="col-md-9" src="/img/RewardEAP.png"
                 style="margin-top: 10px;margin-left: 10px; height: 40px"/>
        </div>
        <ul class="nav navbar-nav col-md-7">
            <li class="col-md-3">
                <a href="http://newersworld.tothenew.com" id="nav-list-first">
                    Back to Newers World
                </a>
            </li>
            <li class="col-md-2 nav-list-pad">
                <form method="get" th:action="@{/user}">
                    <button id="dashboard" type="submit">
                        <img class="pic" src="/img/dashboard.png"/>
                        Dashboard
                    </button>
                </form>
            </li>
            <li class="col-md-2 nav-list-pad">
                <form method="post" th:action="@{/badges}" th:object="${user}">
                    <button id="nav-list-third" type="submit">
                        <img alt="badges" id="badges" src="/img/badges1.png"/>
                        Badges
                    </button>
                </form>
            </li>
            <li class="col-md-2 nav-list-pad">
                <a id="nav-list-fourth">
                    <img alt="certificate" id="certificate" src="/img/certificate1.png"
                         style="width: 21px;height: 23px;margin-left: -2%"/>
                    Certificate
                </a>
            </li>
            <li class="col-md-1 nav-list-pad">
                <img alt="notification-bell" id="nav-list-fifth" src="/img/notification-bell.png"/>
            </li>
            <li class="col-md-2 nav-list-pad">
                <img alt='User Image' class='user-image' data-target="#myModal" data-toggle="modal"
                     th:src="@{${user.getFileName()}}"/>
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content" th:object="${user}">
                            <div class="modal-header">
                                <h4 class="modal-title">Your Profile</h4>
                            </div>
                            <div class="modal-body" style="height: 100px">
                                <div class="col-md-3">
                                    <img alt='User Image' class='user-image3' th:src="@{${user.getFileName()}}"/>
                                </div>
                                <div class="col-md-3">
                                    <label>Newer Name</label>
                                    <label>Email id</label>
                                </div>
                                <div class="col-md-6">
                                    <label th:text="*{name}"></label><br/>
                                    <label th:text="*{email}"></label>
                                </div>
                            </div>
                            <div class="modal-footer" style="background-color: #f4f4f4">
                                <form class="col-md-6" id="manageForm" method="post" th:action="@{/manage}">
                                    <button id="manage-button" th:if="${role}" type="submit">
                                        Manage
                                    </button>
                                </form>
                                <a class="col-md-6" href="login" style="text-align: center;text-decoration: none">
                                    <img alt="logout" src="/img/logout.png"/>
                                    Logout
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>

<section class="container-fluid back-color" style="margin-top:70px;padding-top: 15px">
    <div class="col-md-9" style="padding-left: 0; ">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <img alt="star" src="/img/badges2.png"/>
                <b>RECOGNIZE NEWER</b>
            </div>
            <div class="panel-body">
                <form id="recognise_form" method="post" th:action="@{/recognize}" th:object="${recognizeco}">
                    <div class="form-group">
                        <img alt="person" src="/img/newer.png"/>
                        <input id="hidden_send_email" th:field="*{sender_email}" type="hidden"/>
                        <input id="searchNewer3" placeholder="Select a newer" th:field="*{receiver_email}" type="text"/>
                        <select th:field="*{badge_val}">
                            <div th:object="${badge}">
                                <option value="">Select a Badge</option>
                                <option value="gold">Gold(<span th:text="${badge.getGoldCount()}"></span>)</option>
                                <option value="silver">Silver(<span th:text="*{silverCount}"></span>)</option>
                                <option value="bronze">Bronze(<span th:text="*{bronzeCount}"></span>)</option>
                            </div>
                        </select>
                    </div>
                    <div class="form-group">
                        <label><b>Reasons:</b></label>
                        <textarea class="form-control" placeholder="Give recognition reason/message..."
                                  style="height: 100px" th:field="*{message_val}"></textarea>
                    </div>
                    <button class="btn btn-default pull-right" id="recognize_btn" type="submit">Recognize</button>
                </form>
            </div>
        </div>

    </div>
    <div class="col-md-3">
        <div class="panel panel-primary" style="margin-right: 25px ">
            <div class="panel-heading">
                <img alt="star" src="/img/badges2.png"/>
                <b>MY BADGES</b>
            </div>
            <div class="panel-body" th:object="${user}">
                <div class="col-md-3">
                    <img alt='User Image' class='user-image' th:src="@{${user.getFileName()}}"/>
                </div>
                <div class="col-md-9">
                    <div>
                        <label style="padding-left: 20px" th:text="*{name}">Amarjeet Malik{ }</label>
                    </div>
                    <div>
                        <div class="col-md-4">
                            <img alt="Gold" src="/img/badgeOrange.png"/>
                            <span>0</span>
                        </div>
                        <div class="col-md-4">
                            <img alt="silver" src="/img/badgeGrey.png"/>
                            <span>0</span>
                        </div>
                        <div class="col-md-4">
                            <img alt="bronze" src="/img/badgeBrown.png"/>
                            <span>0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid back-color">
    <div>
        <div class="col-md-2">
            <div class="form-group has-feedback has-search main">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                <input class="form-control" id="searchNewer4" placeholder="Search" style="padding-left: 50px"
                       type="text"/>
            </div>
        </div>
        <div class="col-md-3">
            <div class="col-md-6">
                <select>
                    <option value="">Select Role</option>
                    <option value="1">Admin</option>
                    <option th:each="r : ${T(com.ttn.reap.enums.Role).values()}"
                            th:text="${r.getValue()}" th:value="${r.getValue()}"></option>
                </select>
            </div>
            <div class="col-md-6" style="padding-left: -50px">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" id="activeUsers" type="checkbox"/>
                    <label class="custom-control-label" for="activeUsers">Active Users</label>
                </div>
            </div>
        </div>
        <div class="col-md-7"></div>
    </div>
    <div class="container-fluid">
        <table class="table table-bordered table-hover" id="table1"
               style="background-color: #FFFFFF;text-align: center">
            <tr style="text-align: center   ">
                <th>Name</th>
                <th>Role</th>
                <th>Active</th>
                <th>Email</th>
                <th>Available Points</th>
                <th>Points Used</th>
                <th>
                    <div>Badge Count</div>
                    <div>
                        <div>
                            <div class="col-md-4">
                                <img alt="Gold" src="/img/badgeOrange.png"/>
                            </div>
                            <div class="col-md-4">
                                <img alt="silver" src="/img/badgeGrey.png"/>
                            </div>
                            <div class="col-md-4">
                                <img alt="bronze" src="/img/badgeBrown.png"/>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            <tr th:each="u : ${users}">
                <td th:text="*{u.getName()}"></td>
                <td>
                    <select multiple="multiple">
                        <option value="">Select Role</option>
                        <option value="1">Admin</option>
                        <option th:each="r : ${T(com.ttn.reap.enums.Role).values()}"
                                th:text="${r.getValue()}" th:value="${r.getValue()}"></option>
                    </select>
                </td>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="activeUsers{1}" th:checked="*{u.isActive()}"
                               type="checkbox"/>
                    </div>
                </td>
                <td th:text="*{u.getEmail()}"></td>
                <td>
                    <input style="width: 50px" th:value="*{u.getAvailPoints()}" type="text"/>
                </td>
                <td th:text="*{u.getRedeemedPoints()}"></td>
                <th:block th:with="bad=${badgeBalanceService.getBadgeById(u.getId())}">
                    <td>
                        <input style="width: 50px" th:value="*{bad.getGoldCount()}" type="text"/>
                        <input style="width: 50px" th:value="*{bad.getSilverCount()}" type="text"/>
                        <input style="width: 50px" th:value="*{bad.getBronzeCount()}" type="text"/>
                    </td>
                </th:block>
            </tr>
        </table>
    </div>
</section>

<script src="/js/dashboardStyle.js"></script>
<script>
    /*    $(document).ready(function () {
            $('.mdb-select').materialSelect();
        });*/
</script>
<script
        crossorigin="anonymous"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script
        crossorigin="anonymous"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="/js/ajax_js.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    document.getElementById('hidden_send_email').value = /*[[${user.getEmail()}]]*/ 'default';

    /*]]>*/
</script>
</body>
</html>
