<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>REAP</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
<!--    <link rel="stylesheet" type="text/css" href="../css-pages/ReapHomePage.css"/>-->
    <link rel="stylesheet" th:href="@{/css/ReapHomePage.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="icon" href="../img/ttn.ico" type="image/gif" sizes="20x20"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container-fluid nopadding">

    <!--TOP NAV BAR -->
    <div class="row">
        <div style="display: block">
            <nav class="navbar-default navbar navbar-expand-sm fixed-top back">
                <!--HEADER-->
                <header class="row nopadding">
                    <!--REAP IMAGE-->
                    <div class="col-sm-5 nopadding">
                        <div class="col-sm-4 nopadding bottom"><img id="reap" class="reapimg" src="../img/reap.png"/></div>
                        <div class="col-sm-8 nopadding bottom"><img id="reapfull" class="reapimg" src="../img/reapfull.png"/></div>
                    </div>
                    <!--SIDE NAV BAR-->
                    <div class="col-sm-7 nopadding">
                        <div class="col-sm-3 bottom nopadding"><button class=" newers " id="back">Back to Newers World</button></div>
                        <div class="col-sm-2 bottom nopadding"><button class="" id="dashboard"><img class="pic" src="../img/dashboard.png"/>Dashboard</button></div>
                        <div class="col-sm-2 bottom nopadding"><button class="newers" id="badges"><img class="pic" id="changepic" src="../img/badge.png"/>Badges</button></div>
                        <div class="col-sm-2 bottom nopadding"><button class="newers " id="certificates"><img class="pic" id="picchange" src="../img/certificate.png"/>Certificates</button></div>
                        <div class="col-sm-1 bottom nopadding"><div class="newers" id="bell"><img id="bellimg" src="../img/bell.png"/></div></div>
                        <div class="col-sm-2 bottom nopadding"><div class="profile"><img class="profileimg" src="../img/dummy.jpeg"/></div></div>
                    </div>
                </header>
            </nav>
        </div>
    </div>



    <div class="row nopadding lower" >

        <!--RECOGNISE NEWER AND WALL OF FAME (LEFT)-->
        <div class="col-sm-9">


            <!--RECOGNISE NEWER SECTION1-->
            <form>
                    <section id="section1">

                        <!--RECOGNISE NEWER HEAD-->
                        <div class="row fit">
                                <div class="lefthead " ><img src="../img/badgewhite.png" class="newer headimg"/>RECOGNIZE NEWER</div>
                        </div>


                        <div class="row fit">
                            <div class="leftbottom">
                                    <div id="lowerleftbottom">
                                        <div id="search">

                                            <!--SEARCH FOR NEWER-->
                                            <img src="../img/newer.png" id="newersearch"/>
                                            <input class="form-control" type="text" placeholder="Select a Newer" aria-label="Search" id="searchbox" required="required"/>

                                            <!--SELECT BADGE-->
                                            <div id="selectBadge">
                                                <select class="form-control" required="required" name="karma" id="karma1" >
                                                    <option value="" >Select a Badge</option>
                                                    <option value="1">Gold</option>
                                                    <option value="2" >Silver</option>
                                                    <option value="3" >Bronze</option>
                                                </select>
                                            </div>

                                            <!--SELECT CORE/KARMA VALUE-->
                                            <div id="core">
                                                <select class="form-control" required="required" name="karma" id="karma" >
                                                    <option value="">Select a Karma/Core Value</option>
                                                    <option value="6" >Karma: Extra Miler</option>
                                                    <option value="3" >Karma: Knowledge Sharing</option>
                                                    <option value="1" >Karma: Mentorship</option>
                                                    <option value="5" >Karma: Pat on the back</option>
                                                    <option value="7" >Karma: Customer Delight</option>
                                                    <option value="10">Core Value: Continuous Learning and Improvement</option>
                                                    <option value="9" >Core Value: Contribution</option>
                                                    <option value="13" >Core Value: Diligence</option>
                                                    <option value="12" >Core Value: Empathy</option>
                                                    <option value="14" >Core Value: Openness to Feedback and Change</option>
                                                    <option value="11" >Core Value: Responsible Freedom</option>
                                                </select>

                                            </div>
                                        </div>

                                        <!--RECOGNISE-->
                                        <div id="reason">Reasons:</div>
                                        <textarea id="karmaArea">Please select a karma/core value first.....</textarea>

                                        <!--RECOGNISE BUTTON-->
                                        <button type="submit" id="recognise">Recognise</button>
                                    </div>
                            </div>
                        </div>
                    </section>
            </form>


            <!--WALL OF FAME SECTION2-->
            <div class="row fit wall_of_fame" >


                    <div class="leftheadbottom" >
                        <img src="../img/wall_of-fame.png" class="newer headimg"/>
                        WALL OF FAME

                        <!--SEARCH-->
                        <input class="form-control" type="text" placeholder="Search" aria-label="Search" id="searchbox1" required="required"/>

                        <!--BUSINESS UNIT-->
                        <select class="businessUnit" defaultLabel="Business Unit">
                            <option value="">Business Unit</option>
                            <option value="27" >B2B Content Marketing</option>
                            <option value="20" >Digital Marketing India</option>
                            <option value="28" >Social Analytics</option>
                            <option value="1" >Technology</option>
                            <option value="21" >TTN Overheads</option>
                            <option value="22" >TTNV</option>
                            <option value="29" >VDMA</option>
                            <option value="19" >Video Solutions</option>
                        </select>

                        <!--REGION-->
                        <select class="businessUnit">
                            <option value="">Region</option>
                            <option value="6" >Admin</option>
                            <option value="132" >Aryans</option>
                            <option value="130" >Cyborgs</option>
                            <option value="120" >Digital Marketing</option>
                            <option value="16" >Finance</option>
                            <option value="143" >Human Resources</option>
                            <option value="68" >IT</option>
                            <option value="126" >Managed Services</option>
                            <option value="40" >Management</option>
                            <option value="134" >Ninjas</option>
                            <option value="148" >Non-Tech Sales</option>
                            <option value="151" >Pre-Sales</option>
                            <option value="144" >Social Analytics</option>
                            <option value="128" >Spartans</option>
                            <option value="150" >Tech Sales</option>
                            <option value="133" >Titans</option>
                            <option value="147" >TTN Marketing</option>
                            <option value="127" >Vanguardians</option>
                            <option value="129" >Vikings</option>
                            <option value="152" >VOF</option>
                        </select>
                    </div>

                    <!--DETAILS-->
                    <div class="row fit leftdown">
                        <div class="col-sm-1 record"><div class="profile"><img class="profileimg" src="../img/dummy.jpeg"/></div></div>
                        <div class="col-sm-11 record">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </div>
                        <hr/>
                        <div class="col-sm-1 record"><div class="profile"><img class="profileimg" src="../img/dummy.jpeg"/></div></div>
                        <div class="col-sm-11">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </div>
                    </div>
            </div>


        </div>



        <!--MY BADGES AND NEWERS BOARD(RIGHT ->SECTON3 AND SECTION4)-->
        <div class="col-sm-3">


            <!--MY BADGES SECTION3-->
            <section class="row fit panel">
                    <!--MY BADGE HEADER-->
                    <div class="lefthead " ><img src="../img/badgewhite.png" class="newer headimg"/>MY BADGES</div>
                    <div class="mybadges">
                        <!--MY BADGE PROFILE PIC-->
                        <div class="profile mybadgesimg"><img class="profileimg" src="../img/dummy.jpeg"/></div>
                        <!--MY BADGE USERNAME-->
                        <div class="mybadgesUsername">Dolly .</div>
                        <div>
                            <!--GOLD BADGE-->
                             <span class="star">
                                 <img src="../img/badgeOrange.png"/>
                                 <span class="points">0</span>
                             </span>
                            <!--SILVER BADGE-->
                            <span class="star mybadgestar">
                                 <img src="../img/badgeGrey.png"/>
                                 <span class="points">0</span>
                            </span>
                            <!--BRONZE BADGE-->
                            <span class="star mybadgestar">
                                 <img src="../img/badgeBrown.png"/>
                                 <span class="points">0</span>
                            </span>
                        </div>
                    </div>
            </section>


            <!--NEWERS BOARD SECTION4-->
            <div style="width: 100%">
                <!--NEWERS BOARD HEADER-->
                <section class="row fit panel mybadgealign">
                    <div class="lefthead " >NEWER'S BOARD(LAST 7 DAYS)
                        <span class="fa fa-calendar bigger-icon"/>
                    </div>
                    <!--NEWERS BADGE LIST-->
                    <div class="mybadges">
                        <div class="profile mybadgesimg"><img class="profileimg" src="../img/dummy.jpeg"/></div>
                        <div class="mybadgesUsername">Dolly .</div>
                        <div>
                            <span class="star">
                                     <img src="../img/badgeOrange.png"/>
                                    <span class="points">0</span>
                            </span>
                            <span class="star mybadgestar">
                                     <img src="../img/badgeGrey.png"/>
                                     <span class="points">0</span>
                                </span>
                            <span class="star mybadgestar">
                                     <img src="../img/badgeBrown.png"/>
                                    <span class="points">0</span>
                            </span>
                        </div>
                    </div>
                    <div class="mybadges">
                        <div class="profile mybadgesimg"><img class="profileimg" src="../img/dummy.jpeg"/></div>
                        <div class="mybadgesUsername">Dolly .</div>
                        <div>
                            <span class="star">
                                     <img src="../img/badgeOrange.png"/>
                                     <span class="points">0</span>
                            </span>
                            <span class="star mybadgestar">
                                     <img src="../img/badgeGrey.png"/>
                                     <span class="points">0</span>
                                </span>
                            <span class="star mybadgestar">
                                     <img src="../img/badgeBrown.png"/>
                                    <span class="points">0</span>
                            </span>
                        </div>
                    </div>
                    <div class="mybadges">
                        <div class="profile mybadgesimg"><img class="profileimg" src="../img/dummy.jpeg"/></div>
                        <div class="mybadgesUsername">Dolly .</div>
                        <div>
                            <span class="star">
                                     <img src="../img/badgeOrange.png"/>
                                     <span class="points">0</span>
                            </span>
                            <span class="star mybadgestar">
                                     <img src="../img/badgeGrey.png"/>
                                     <span class="points">0</span>
                                </span>
                            <span class="star mybadgestar">
                                     <img src="../img/badgeBrown.png"/>
                                    <span class="points">0</span>
                            </span>
                        </div>
                    </div>
                    <div class="mybadges">
                        <div class="profile mybadgesimg"><img class="profileimg" src="../img/dummy.jpeg"/></div>
                        <div class="mybadgesUsername">Dolly .</div>
                        <div>
                            <span class="star">
                                     <img src="../img/badgeOrange.png"/>
                                     <span class="points">0</span>
                            </span>
                            <span class="star mybadgestar">
                                     <img src="../img/badgeGrey.png"/>
                                     <span class="points">0</span>
                                </span>
                            <span class="star mybadgestar">
                                     <img src="../img/badgeBrown.png"/>
                                    <span class="points">0</span>
                            </span>
                        </div>
                    </div>
                    <div class="view ">View All</div>
                </section>
            </div>


        </div>


    </div>

    <div class="sticky">
        <button class="sticky_button">Feedback</button>
    </div>


</div>

<script type="text/javascript" src="../javascripts/ReapHomePage.js"></script>


</body>
</html>
