<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <!--        <link rel="stylesheet" type="text/css" href="../css-pages/Badges.css">-->
    <link rel="stylesheet" th:href="@{/css/Badges.css}"/>
    <link rel="stylesheet" th:href="@{css/dashStyle.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="../img/ttn.ico" rel="icon" sizes="20x20" type="image/gif"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid nopadding wrap">

    <!--TOP NAV BAR -->


    <div class="row nopadding lower">

        <!--BADGES AND POINTS AND REDEEM POINTS(LEFT)-->
        <div class="col-sm-4">

            <!-- BADGES -->
            <section class="row fit panel">
                <!-- BADGE AND POINTS HEADER-->
                <div class="lefthead "><img class="newer headimg" src="../img/badgewhite.png"/>BADGES AND POINTS</div>
                <div class="mybadges" style="overflow: hidden">
                    <div class="col-sm-8 nopadding" style="float:left;" th:object="${user}">
                        <!--BADGE PROFILE PIC-->
                        <div class="profile mybadgesimg"><img class="profileimg" th:src="@{${user.getAttachment().getFileName()}}"/></div>
                        <!--BADGE USERNAME-->
                        <div class="mybadgesUsername" th:text="*{name}"></div>
                        <div th:object="${badge}">
                            <!--GOLD BADGE-->
                            <span class="star">
                            <img src="../img/badgeOrange.png"/>
                            <span class="points" th:text="*{goldCount}">0</span>
                            </span>
                            <!--SILVER BADGE-->
                            <span class="star mybadgestar">
                            <img src="../img/badgeGrey.png"/>
                            <span class="points" th:text="*{silverCount}">0</span>
                            </span>
                            <!--BRONZE BADGE-->
                            <span class="star mybadgestar">
                            <img src="../img/badgeBrown.png"/>
                            <span class="points" th:text="*{bronzeCount}">0</span>
                            </span>
                        </div>
                    </div>
                    <!--POINTS-->
                    <div class="col-sm-4 nopadding point_img"><img src="../img/points.png"/></div>
                    <div class="bottom-left zero">0</div>
                    <div class="bottom-left pts">pts</div>
                </div>
            </section>


            <div class="view">
                <button class="redeem">Redeem Points</button>
            </div>

        </div>


        <!--BADGES INFO NAVIGATION  -->
        <div class="col-sm-8">


            <div class="topnav">
                <a class="active" href="#home">All<span>(0)</span></a>
                <a th:href="@{/badges/shared}">Badges Shared<span>(0)</span></a>
                <a href="#contact">Badges Recieved<span>(0)</span></a>
                <a href="#about">Badge History</a>
                <a href="#about">Points Redeemed</a>
            </div>

            <div class="nodata">No data found</div>

        </div>


    </div>


</div>

<script src="../javascripts/ReapHomePage.js" type="text/javascript"></script>

</body>
</html>